#sideCatalog {
width: 290px;
height: 355px;
overflow: hidden;
margin-bottom: 10px;
font-size: 14px;
font-family: 宋体;
line-height: 19px;
position: relative;
zoom: 1;
left: 10px;
}

#sideCatalog #sideCatalog-sidebar {
top: 0;
width: 0;
height: 353px;
background-color: #eaeaea;
border: 1px solid #eaeaea;
border-top: 0;
border-bottom: 0;
position: absolute;
left: 5px;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top, #sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
position: absolute;
left: -5px;
width: 10px;
height: 10px;
background: transparent url(/static/lemma/view/img/sideToolbar.gif) 0 -199px no-repeat;
zoom: 1;
overflow: hidden;
}
#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top, #sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
position: absolute;
left: -5px;
width: 10px;
height: 10px;
background: transparent url(/static/lemma/view/img/sideToolbar.gif) 0 -199px no-repeat;
zoom: 1;
overflow: hidden;
}
.sideCatalog-up-disable {
background: transparent url(/static/lemma/view/img/sideToolbar.gif) -272px -83px no-repeat;
}
.sideCatalog-down-enable {
background: transparent url(/static/lemma/view/img/sideToolbar.gif) -245px -108px no-repeat;
}
#sideCatalog-catalog {
height: 325px;
padding-left: 23px;
overflow: hidden;
margin-top: 18px;
position: relative;
}
.sideCatalog-item1, .sideCatalog-item2 {
position: relative;
padding: 0 7px;
zoom: 1;
margin: 0 0 6px 0;
}
#sideCatalog span.sideCatalog-index1 {
color: #999;
font-weight: bold;
font-family: Arial;
font-size: 14px;
padding-right: 5px;
}
#sideCatalog .sideCatalog-item1 a {
color: #555;
font-weight: bold;
}
.sideCatalog-dot {
position: absolute;
height: 10px;
width: 6px;
font-size: 12px;
line-height: 12px;
background: transparent url(/static/lemma/view/img/sideToolbar.gif) 0 -222px;
left: -20px;
top: 4px;
cursor: pointer;
overflow: hidden;
}
.sideCatalog-item2 {
padding-left: 21px;
position: relative;
padding: 0 7px;
zoom: 1;
margin: 0 0 6px 0;
}
#sideCatalog span.sideCatalog-index2 {
color: #999;
font-family: Arail;
font-size: 14px;
padding-right: 5px;
margin-left:20px;
}
#sideCatalog .sideCatalog-item1 a, #sideCatalog .sideCatalog-item2 a {
text-decoration: none;
color: #666;
}
#sideCatalog .sideCatalog-item2 span.sideCatalog-dot {
_left: -54px!important;
}
.sideCatalog-item2 .sideCatalog-dot {
background: 0;
}

#sideCatalog-catalog  dl  dd a:hover, .sideCatalog-item2 a:hover {
color:blue;
}
.sideCatalog-item1:hover, .sideCatalog-item2:hover {
background: #f5f5f5;
border-radius: 2px;
box-shadow: 0 1px 0 #eaeaea;
}