body {
background: gray;
overflow-x: hidden;
margin-top: -10px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
color: #666;
}
#header {
background-color: gray;
margin-top: 10px;
height: 77px;
position: relative;
width: 100%;
z-index: -9;
}
#header h1 {
background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
height: 31px;
left: 20px;
line-height: 600px;
overflow: hidden;
position: relative;
top: 26px;
width: 191px;
}
a {
color: white;
text-decoration: none;
}
h1 {
font-size: 38.5px;
}
#header h1 a {
display: block;
}
#user-nav {
position: absolute;
margin-left:75%;
top: 0px;
z-index: 20;

}
#user-nav > ul {
margin: 0;
padding: 0;
list-style: none;
border-right: 0px solid white;
border-left: 0px solid white;
}
.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
}
#user-nav > ul > li {
float: left;
list-style-type: none;
margin: 0;
line-height:1px;
position: relative;
padding: 0;
border-left: 1px nomal white;
border-right: 1px solid white;
}
li {
line-height: 20px;
}
#user-nav > ul > li > a {
padding: 9px 10px;
display: block;
font-size: 11px;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
color: #999;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#user-nav > ul > li > a > i, #sidebar li a i {
opacity: .5;
margin-top: 2px;
}
.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
display: inline;
line-height: .6em;
}
#user-nav > ul > li > a > i, #sidebar li a i {
opacity: .5;
margin-top: 2px;
}
.icon-user:before {
content: "\f007";
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {
color: white;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#search {
position: absolute;
z-index: 40;
top: 6px;
right: 350px;
}
#search1 input[type=text] {
background-color: #47515b;
color: #fff;
padding: 4px 10px 5px;
border: 0;
width: 200px;
border-radius: 15px;
}

#search button {
border: 0;
margin-left: -3px;
margin-top: -11px;
padding: 5px 10px 4px;
}
label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
[class^="icon-"], [class*=" icon-"] {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none !important;
background-position: 0% 0%;
background-repeat: repeat;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
text-decoration: inherit;
display: inline-block;
speak: none;
}
#content-header {
position: abslute;
width: 100%;
margin-top: -38px;
z-index: 20;
}
#breadcrumb {
background-color: gray;
border-bottom: 1px solid gray;
margin-left: 500px;
width: 200px;
}
#breadcrumb a {
padding: 8px 10px 8px 10px;
display: inline-block;
background-position: center right;
background-repeat: no-repeat;
font-size: 11px;
color: blue;
}
#breadcrumb a.current {
font-weight: bold;
color: blue;
}
h1, h2, h3 {
line-height: 40px;
}
h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
text-rendering: optimizelegibility;
}
h2 {
font-size: 31.5px;
}
.row-fluid {
width: 100%;
margin-left:95px;
height:530px;
margin-top:-10px;
}
.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
}
.row-fluid [class*="span"]:first-child {
margin-left: 0;
width: 65.95744680851064%;
}
.widget-box {
background: none repeat scroll 0 0 #F9F9F9;
width: 881px;
height: 500px;
clear: both;
margin-top: 16px;
margin-bottom: 16px;
position: relative;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
background: #efefef;
border-bottom: 1px solid #CDCDCD;
height: 36px;
}
.widget-title span.icon {
padding: 9px 10px 7px 11px;
float: left;
border-right: 1px solid #dadada;
}
#footer {
padding: 10px;
text-align: center;
color:white;
}
[class^="icon-"], [class*=" icon-"] {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none !important;
background-position: 0% 0%;
background-repeat: repeat;
}
.icon-list:before {
content: "\f03a";
}
.widget-content {
padding: 15px;
width: 840px;
height: 500px;
}
.row-fluid .span4 {
width: 31.914893617021278%;
}
.row-fluid [class*="span"] {
display: block;
float: left;
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.widget-box-new {
background: none repeat scroll 0 0 #F9F9F9;
clear: both;
margin-top: 16px;
margin-bottom: 16px;
position: relative;
width: 240px;
height: 631px;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
background: #efefef;
border-bottom: 1px solid #CDCDCD;
height: 10px;
}
.widget-content-new {
padding: 15px;
width: 200px;
margin-right: 5px;
}
.row-fluid .span8 {
margin-left:30px;
height:579;

}
.collapse {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height .35s ease;
-moz-transition: height .35s ease;
-o-transition: height .35s ease;
transition: height .35s ease;
}
#header1{
width:1366px;

color:#bbb;
position:relative;
}
h1{
margin:15px 0 0 0;
height:20px;

}
h1 span{
display:block;
}
#topMenu{
margin:0;
padding:0;
position:absolute;
list-style-type:none;
left:100px;


}
#topMenu li{
float:left;
border-left:1px white solid;
}
#topMenu li a{
padding:0 10px;
color:white;
font-size: 20px;
text-decoration:none;
}
#topMenu li a:hover{
background-color:white;
color:black;
}
#topMenu li.firstChild{
border:none;	
}
#sidebar_r > li > ul > li, #sidebar_r > li {
list-style-type: none;
}
#sidebar_r > li > ul > li{
margin-left:-15px;
}
